requirements :
	PARSING :

	map parsing	:
		The map must be composed of only 6 possible characters: 0 for an empty space,
			1 for a wall, and N,S,E or W for the player’s start position and spawning
			orientation.
		The map must be closed/surrounded by walls, if not the program must return
			an error
		Except for the map content, each type of element can be separated by one or
			more empty lines.
		Except for the map content which always has to be the last, each type of
			element can be set in any order in the file
		Except for the map, each type of information from an element can be separated
			by one or more spaces.
		The map must be parsed as it looks in the file. Spaces are a valid part of the
			map and are up to you to handle. You must be able to parse any kind of map,
			as long as it respects the rules of the map.

	texture parsing
		Except for the map, each element must begin with its type identifier (composed
			by one or two characters), followed by its specific information in a strict order:

			North, South, West, East : NO, SO, WE, EA
				identifier ./path_to_texture
			Floor, Ceiling : F, C
				identifier R,G,B

	rendering	:
		Display different wall textures (the choice is yours) that vary depending on which
			side the wall is facing (North, South, East, West).

Bonus :

	Wall colisions
	Minimap
	Door that can open and close
	animated sprites
	rotate POV with mouse